GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_REDIRECT_URI=http://localhost:3000/api/auth/google/callback
SESSION_SECRET=
IP_HASH_SECRET=
OWNER_EMAIL=
RECOVERY_EMAIL=

GOOGLE_DRIVE_SERVICE_ACCOUNT_EMAIL=
GOOGLE_DRIVE_PRIVATE_KEY=
